extends layout

block content
    table(class='table_col')
        tr
            th= 'Коммиты'
            th= 'Автор'
            th= 'Дата'
            tbody
                each val in hashes
                    tr
                        td
                            a(href=`/catalog/${val.hash}`)= val.hash
                        td= val.autor
                        td= val.date
