extends layout

block content
    .back
    table(class='table table-commit')
        tr(class='table-commit__nav')
            th= 'Коммит'
            th= 'Название коммита'
            th= 'Автор'
            th= 'Дата'
            tbody
                each val in hashes
                    tr(class="table-commit__commit commit")
                        td(class="commit__hash")
                            a(href=`/dir/${val.hash}`)= val.hash
                        td(class="commit__name")= val.name
                        td(class="commit__autor")= val.autor
                        td(class="commit__date")= val.date
