extends layout

block content
    table(class='table')
        tr
            th= 'Branches'
            th= 'Files'
            th= 'Commits'
            tbody
                each val in branches
                    tr
                        td
                            a=val
                        td
                            a(href=`/${val}/catalog`)= 'Файлы'
                        td
                            a(href=`/${val}/commit`)= 'Коммиты'
